<app-pesquisar (filter)="filterLivros($event)"></app-pesquisar>

<div class="container">
    <button 
      mat-fab 
      color="primary" 
      class="add-button" 
      (click)="toggleForm()">
      Adicionar Livro
    </button>
  
    <div class="Biblioteca-list">
      <mat-list>
        <mat-list-item *ngFor="let Biblioteca of paginatedLivros; let i = index">
          <div class="Biblioteca-info">
            <div class="Biblioteca-text">
              <p><strong>{{ Biblioteca.name }}</strong></p>
              <p> História: {{ Biblioteca.historia }} Preço: R$ {{ Biblioteca.price }} Tipos: {{ Biblioteca.tipos.join(', ') }}</p>
              <p> Autores: {{ Biblioteca.autores }}</p>
            </div>
            <div class="Biblioteca-actions">
              <button mat-raised-button color="accent" (click)="editLivros(i)">Editar</button>
              <button mat-raised-button color="warn" (click)="deleteLivros(i)">Apagar</button>
            </div>
          </div>
        </mat-list-item>
      </mat-list>
    
      <p *ngIf="filteredLivros.length === 0">Nenhum livro encontrado.</p>
    
      <mat-paginator #paginator [length]="filteredLivros.length" 
                     [pageSize]="itemsPerPage" 
                     [pageSizeOptions]="[5]"
                     (page)="pageChanged($event)">
      </mat-paginator>
    </div>

    
    <div class="form-container" *ngIf="showForm">
      <button mat-icon-button class="close-button" (click)="toggleForm()">
        <mat-icon>X</mat-icon>
      </button>
      <h2>Adicionar</h2>
      <form (ngSubmit)="addLivros()">
        <mat-form-field>
          <input matInput placeholder="Nome" [(ngModel)]="formData.name" name="name" required />
        </mat-form-field>
  
        <mat-form-field>
          <textarea matInput placeholder="História" [(ngModel)]="formData.historia" name="História" required></textarea>
        </mat-form-field>
  
        <mat-form-field>
          <input matInput placeholder="Preço" [(ngModel)]="formData.price" name="price" type="number" required />
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="autores" [(ngModel)]="formData.autores" name="autores" type="string" required />
        </mat-form-field>
  
        <div class="checkbox-group">
          <h3>Selecione os Tipos</h3>
          <div *ngFor="let type of TipoLivros">
            <mat-checkbox 
              [checked]="formData.tipos.includes(type)" 
              (change)="onTiposChange(type, $event.checked)">
              {{ type }}
            </mat-checkbox>
          </div>
        </div>
  
        <button mat-raised-button color="primary" type="submit">Adicionar Livro</button>
      </form>
    </div>
  </div>
  